$brand-primary: #fffed8;
$brand-secondary: #3b3f45;
$white: #fff;
$border-dark: #ccc;
$border-light: #fffed8;

$input-selected-color: #ffa800;

$background-bg: $brand-secondary;
$primary-color: $brand-primary;

$btn-primary-color: $brand-secondary;