<h4 data-test-question-name>{{model.name}}</h4>
<p data-test-question-description>{{model.description}}</p>
<div data-test-question-category>{{{model.category}}}</div>
<div class="footer">
  <a class="btn btn-primary" data-test-question-trigger-action {{action 'takeQuiz'}}>Take Quiz</a>  
</div>
