{{#each choices as |choice idx|}}
  <div>
    {{#radio-button
        value=choice.value
        groupValue=value
        changed=(action "onSelect" choice)}}
        <span>{{choice.label}}</span>
    {{/radio-button}}
  </div>
{{/each}}