{{#each choices as |choice idx|}}
  <div data-test-single-choice-item={{idx}}>
    {{#radio-button
        value=choice.value
        groupValue=value
        changed=(action "onSelect" choice)}}
        <span>{{choice.label}}</span>
    {{/radio-button}}
  </div>
{{/each}}